
<div class="row justify-content-center align-self-center" style="padding-top:6.0em">

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="jumbotron" style="padding:2.0em">

            <form id="FORM_CREATE" action="/Home/CreateFeed" method="get">

                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <img class="img-fluid" src="~/images/rsslogo.gif" />
                    </div>

                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <H3>Create Feed Testing</H3>
                        This area defines various Create Feed tests.  Select this option if you want to test 
                        feeds created with the Sirpenski Syndication Rss package.
                    </div>

                </div>

                <div class="row" style="padding-top:2.0em">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-8 col-xs-8 text-right">

                        <input type="submit" class="btn btn-success" value="Create Feed Testing" />

                    </div>
                </div>

            </form>

        </div>
    </div>



    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="jumbotron" style="padding:2.0em">

            <form id="FORM_READ" action="/Home/ReadFeed" method="get">

                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <img class="img-fluid" src="~/images/rsslogo.gif" />
                    </div>

                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <H3>Read Feed Testing</H3>
                        This area defines various Read or Consume Feed tests.  Select this option if 
                        you want to test reading various Rss Feeds with the Sirpenski Syndication Rss package.
                    </div>

                </div>

                <div class="row" style="padding-top:2.0em">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-8 col-xs-8 text-right">

                        <input type="submit" class="btn btn-success" value="Read Feed Testing" />

                    </div>
                </div>

            </form>

        </div>
    </div>



</div>
